@import 'global.scss';

.faq-aside {
  &-list {
    list-style: none;
    padding: 10px 5px 10px 0;
    @include b(tablet) {
      padding-right: 50px;
    }
  }
  &-list-element {
    display: block;
    color: $gray-text-color;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0;

    &.is-active {
      color: $red;
    }

    &-wrapper {
      margin: 15px 0;
    }

    &-title {
      color: $white;
      font-size: 18px;
    }
  }
}
