$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../../fonts/icomoon' !default;

$icon-ic_document: '\e900';
$icon-message-letter: '\e901';
$icon-report-user: '\e902';
$icon-ready-label: '\e903';
$icon-expand: '\e904';
$icon-collapse: '\e905';
$icon-message-voice: '\e906';
$icon-waiting-label: '\e907';
$icon-warning-alert1: '\e908';
$icon-copy: '\e909';
$icon-search: '\e90a';
$icon-success_modal: '\e90b';
$icon-warning-alert: '\e90c';
$icon-calendar: '\e90d';
$icon-check_sign: '\e90e';
$icon-deposit: '\e90f';
$icon-filter: '\e910';
$icon-sort: '\e911';
$icon-ic_alert: '\e912';
$icon-plus: '\e913';
$icon-play: '';    
$icon-arr_left: '\e914';
$icon-arr_right: '\e915';
$icon-arrows_left: '\e916';
$icon-arrows_right: '\e917';
$icon-atach: '\e918';
$icon-close: '\e919';
$icon-trash: '\e91a';
$icon-close1: '\e91b';
$icon-ic_credit_card: '\e91c';
$icon-ic_cup: '\e91d';
$icon-direction_arrow: '\e91e';
$icon-dispute: '\e91f';
$icon-dollar_sign: '\e920';
$icon-email: '\e921';
$icon-ic_edit: '\e922';
$icon-matches: '\e923';
$icon-messages: '\e924';
$icon-notification_bell: '\e925';
$icon-phone: '\e926';
$icon-plus_sign: '\e927';
$icon-profile: '\e928';
$icon-chat-empty: '\e929';
$icon-ic_more: '\e92a';
$icon-RedX: '\e92b';
$icon-settings: '\e92c';
$icon-menu: '\e92d';
$icon-arrow-up: '\e92e';
$icon-arr_down: '\e92f';
$icon-refresh: '\e984';
