//----------------------------------------
//   Variables
//----------------------------------------

$header-height: 87px;
$aside-header-height: 80px;
$aside-width: 320px;
$mobile-aside-width: 65px;
$mobile-aside-static-width: 45px;
$disclaimerHeight: 60px;

//
// Color
// ---------------------------------------
$black: #282934;
$white: #fff;
$background-color: #20212a;
$gray-text-color: #79797f;
$gray-card-color: #30313a;
$red: #f36c48;
$dollarGreen:#42D941;
$dark: #15161e;
$alert-red: #f47171;
$green: #44c4a1;
$gray-light: #40424f;
//
// Font
// ---------------------------------------
$font: 'Kumbh Sans', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
