@import 'global.scss';

.filter-drop-down {
  position: relative;
  margin-right: 27px;

  &__box {
    position: absolute !important;
    transform: none !important;
    width: fit-content;
    color: $white;
    top: 100% !important;
    margin-top: 10px;
    z-index: 10;
    background: $gray-card-color;

    overflow: hidden;
    @include b(500) {
      left: auto !important;
      right: 0;
    }
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
  .checkbox-input {
    width: 100%;
  }

  &__element-active {
    background-color: $black !important;
    font-weight: 700 !important;
  }

  .MuiPaper-root {
    color: $white;
    padding: 10px 0;
    border-radius: 0 !important;
  }

  .MuiList-padding {
    padding-top: 0;
    padding-bottom: 0;
    &:focus {
      outline: none;
    }
  }

  .MuiMenuItem-root {
    &:hover {
      background-color: transparent;
    }
  }

  .filter-label {
    color: $red;
    font-size: 14px;
    font-weight: 700;
  }

  .icon-filter {
    font-size: 11px;
  }
}
